@font-face{
    font-family: 'Science Gothic';
    src: url('../Fonts/ScienceGothic-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Montserrat-VariableFont_wght';
    src: url('../Fonts/Montserrat-VariableFont_wght.ttf') format('truetype'); 
}

@font-face{
    font-family: 'Inter';
    src: url('../Fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype'); 
}

.Container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    background-color: rgb(23, 23, 22);
    color: #e6e6e6;
}

aside{
    margin: 0;
    padding: 0;
}

.header {
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: #70315f;
    padding: 12px;
    text-align: left;
    border-radius: 0px 0px 12px 12px;
}
.sidebar-container{
  grid-row: 2;
  grid-column: 1/ span 2;
  background-color: #70315f;
  padding: 12px 12px 12px 12px;
  border-radius: 12px;
}
.sidebar {
    margin: 4px 0px 4px 1.3rem;
    grid-row: 2;
    grid-column: 1/ span 2;
    background-color: #e6e6e6;
    padding: 12px;
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 1rem;
    width: fit-content;
    border-radius: 12px;
}

.contenido {
    grid-row: 3;
    grid-column: 1;
    background-color: #ffffff;
    padding: 12px;
    width: 130%;
}

h1{
    font-size: 4.4rem;
    font-family: 'Science Gothic', sans-serif;
    margin: 0rem 0rem 0rem 1rem;
    font-weight: 600;
    font-style: normal;
}

h2{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Montserrat-VariableFont_wght', sans-serif;
}

p {
    font-size: 1.4rem;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: black;
}

.PieDePagina {
    grid-row: 4;
    grid-column: 1 / span 2;
    background-color: #f2f2f2;
    padding: 12px;
    font-size: 1rem;
    text-align: left;
}

.Rights, a {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: large;
    font-weight: 300;
    color: #70315f;
}