.ContainerGrid {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    align-content: start;
    flex-direction: row-reverse;
} 

/*.item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}*/

.item:nth-child(1),
.item:nth-child(4) {
  width: 100%;
  height: 5%;
}

.item:nth-child(2) {
  width: 25%;
  height: 75%;
  
}

.item:nth-child(3) {
  flex-grow: 1;
  height: 75%;
  vertical-align: left;
  max-width: 600px;
}
